div {
    height: 20rem;
    font-size: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    fa-icon {
        margin-left: 1rem;
    }

    span {
        font-size: 1.8rem;
        margin-left: 2rem;

        a {
            color: #ff0000;
        }
    }
}
