footer {
    width: 100%;
    margin: 2.5rem 0;

    display: flex;
    justify-content: center;

    a {
        text-decoration: none;
        width: 10rem;
        transition: 0.2s;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            transform: translateY(-2px);
        }

        fa-icon {
            color: #fff;
        }

        span {
            margin-left: 0.5rem;
            font-size: 1.3rem;
            font-weight: bold;
            color: #fff;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        }
    }
}
