<section>
    <div>
        <app-loading *ngIf="isLoading && !error"></app-loading>
        <app-error *ngIf="error"></app-error>
        <div class="pokemon-detail" *ngIf="!isLoading && !error">
            <header>
                <h1>#{{ pokemon.id }} {{ pokemon.name | uppercase }}</h1>
            </header>
            <div>
                <div id="img-wrapper">
                    <img [src]="pokemon.sprites.artwork" [alt]="pokemon.name" />
                </div>

                <div class="pokemon-info">
                    <ul>
                        <li>
                            <small>National Nº</small>
                            <span>{{ pokemon.id }}</span>
                        </li>
                        <li>
                            <small>Type</small>
                            <span>
                                <span
                                    *ngFor="
                                        let type of pokemon.types;
                                        let i = index
                                    "
                                >
                                    <span *ngIf="i === 1">/</span>
                                    {{ type | titlecase }}
                                </span>
                            </span>
                        </li>
                        <li>
                            <small>Height</small>
                            <span>{{ pokemon.height }} m</span>
                        </li>
                        <li>
                            <small>Ability</small>
                            <span>
                                <span
                                    *ngFor="
                                        let ability of pokemon.abilities;
                                        let i = index
                                    "
                                >
                                    {{ ability | titlecase }}
                                    <span *ngIf="i === 0"> / <br /></span>
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>

                <div *ngIf="isFighter" class="pokemon-moves">
                    <h2>Moves:</h2>
                    <ul>
                        <li *ngFor="let move of pokemon.moves">
                            <div>
                                <span>
                                    <h3>{{ move.name | uppercase }}</h3>
                                </span>
                                <span>
                                    <span>
                                        <small>Power</small
                                        ><span>{{ move.power }}</span>
                                    </span>
                                    <span>
                                        <small>Type</small>
                                        <span>{{ move.type | titlecase }}</span>
                                    </span>
                                </span>
                            </div>
                            <p>{{ move.text }}</p>
                        </li>
                    </ul>
                </div>

                <div *ngIf="!isFighter" id="not-fighter-wrapper">
                    <p>
                        {{ pokemon.name | titlecase }} is in a peaceful mood and
                        chose not to fight. <br />
                        Check the fighters <a routerLink="/">here</a>
                    </p>
                </div>

                <div id="btn-wrapper">
                    <button [disabled]="isFighter ? false : true">
                        <fa-icon [icon]="faBolt"></fa-icon>
                        <span>Start Battle</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
