section {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    > div {
        background: #fff;
        border-radius: 8px;
        width: 90%;
        padding: 2rem;
        margin: 1rem;
    }

    .pokemon-detail {
        header {
            text-align: center;

            h1 {
                margin-bottom: 1rem;
                font-size: 2.6rem;
            }
        }

        nav {
            margin-bottom: 1rem;

            #nav-fighter {
                display: none;

                margin: 1rem 0;
            }

            div.nav-disabled {
                justify-content: flex-end;
            }

            div {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                a.nav-disabled {
                    display: none;
                }

                a {
                    text-decoration: none;
                    color: #ff0000;
                    padding: 0.25rem;
                    border-radius: 0.8rem;

                    display: flex;
                    align-items: center;

                    fa-icon {
                        font-size: 2rem;
                        margin: 0 0.25rem;
                    }

                    span {
                        font-size: 1.4rem;
                        line-height: 1.6rem;
                        margin: 0 0.25rem;
                    }

                    &:hover {
                        background: rgba(255, 0, 0, 0.1);
                    }
                }
            }
        }

        > div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            #img-wrapper {
                width: 100%;
                height: 20rem;
                padding: 1.5rem;

                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    transition: 0.2s;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }

            .pokemon-info {
                width: 100%;
                padding: 1rem;
                margin-bottom: 1rem;

                display: flex;
                align-items: center;

                ul {
                    width: 100%;

                    li {
                        width: 100%;

                        padding-top: 1rem;
                        margin-top: 1rem;
                        border-top: 0.1rem solid #eee;

                        display: flex;
                        align-items: baseline;

                        &:last-child {
                            padding-bottom: 1rem;
                            margin-bottom: 1rem;
                            border-bottom: 0.1rem solid #eee;
                        }

                        small {
                            width: 40%;
                            text-align: end;
                            color: #737373;
                        }

                        > span {
                            font-size: 1.5rem;
                            width: 60%;
                            margin-left: 1rem;
                        }
                    }
                }
            }

            .pokemon-moves {
                width: 100%;
                padding: 1rem;

                h2 {
                    font-size: 2.1rem;
                }

                ul {
                    width: 100%;

                    li {
                        width: 100%;

                        padding-top: 1rem;
                        margin-top: 1rem;
                        border-top: 0.1rem solid #eee;

                        &:last-child {
                            padding-bottom: 1rem;
                            margin-bottom: 1rem;
                            border-bottom: 0.1rem solid #eee;
                        }

                        > div {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            margin-bottom: 1rem;

                            > span {
                                &:first-child {
                                    display: flex;
                                    align-items: center;
                                    width: 100%;

                                    h3 {
                                        font-size: 1.5rem;
                                    }
                                }

                                &:last-child {
                                    margin-top: 0.5rem;

                                    display: flex;
                                    flex-direction: column;

                                    > span {
                                        display: flex;
                                        align-items: baseline;

                                        small {
                                            color: #737373;
                                            width: 4rem;
                                        }

                                        span {
                                            font-size: 1.5rem;
                                            margin-left: 0.5rem;

                                            fa-icon {
                                                color: #13b913;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        p {
                            font-size: 1.5rem;
                            text-align: justify;
                            text-justify: inter-word;
                        }
                    }
                }

                > p {
                    font-size: 1.3rem;
                    text-align: end;

                    fa-icon {
                        color: #13b913;
                        font-size: 1.5rem;
                    }
                }
            }

            #not-fighter-wrapper {
                width: 100%;

                display: flex;
                justify-content: center;

                padding: 2rem 0 2rem;
                border-bottom: 0.1rem solid #eee;
                border-top: 0.1rem solid #eee;

                p {
                    text-align: center;
                    font-size: 1.5rem;

                    a {
                        color: #ff0000;
                    }
                }
            }

            #btn-wrapper {
                width: 100%;
                margin: 3rem;

                display: flex;
                justify-content: center;

                button {
                    margin: 0.5rem;
                    background: #fff;
                    height: 3.6rem;
                    width: 14rem;
                    font-weight: bold;
                    font-size: 1.3rem;
                    color: #ff0000;
                    border: 0.2rem solid #ff0000;
                    border-radius: 16px;
                    cursor: pointer;
                    outline-color: #ff0000;
                    transition: 0.2s;

                    &:hover {
                        background-color: rgba(255, 0, 0, 0.1);
                    }

                    span {
                        margin-left: 0.7rem;
                    }

                    &:disabled {
                        cursor: not-allowed;
                        border: 0.2rem solid #999999;
                        background-color: #cccccc;
                        color: #666666;
                    }
                }
            }

            li {
                list-style: none;
            }
        }
    }

    > a {
        position: absolute;
        top: -7rem;
        left: 2rem;

        font-size: 2.5rem;
        color: #ffffff;
    }

    // media queries:

    @media (min-width: 400px) {
        > a {
            left: 4rem;
        }

        .pokemon-detail {
            nav #nav-fighter {
                display: flex;
            }

            > div {
                #img-wrapper {
                    height: 25rem;
                }

                .pokemon-moves ul li > div > span {
                    &:first-child {
                        width: 13rem;
                    }

                    &:last-child {
                        margin-top: 0;
                        width: 11rem;

                        > span {
                            small {
                                text-align: end;
                            }

                            span {
                                margin-left: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        > a {
            left: 5rem;
        }

        .pokemon-detail {
            .header-position {
                margin-top: -5rem;
                padding: 1rem;
            }

            > div {
                #img-wrapper {
                    width: 50%;
                    height: 30rem;
                    margin-bottom: 1rem;
                }

                .pokemon-info {
                    width: 50%;

                    ul li strong {
                        width: 30%;
                    }
                    ul li span {
                        width: 70%;
                    }
                }
            }
        }
    }
}
