<section>
    <div>
        <app-loading *ngIf="isLoading && !error"></app-loading>
        <app-error *ngIf="error"></app-error>
        <div class="pokemon-detail" *ngIf="!isLoading && !error">
            <nav>
                <div [class.nav-disabled]="id === 1">
                    <a
                        [class.nav-disabled]="id === 1"
                        routerLink="/pokemon/{{ pokemon.id - 1 }}"
                    >
                        <fa-icon [icon]="faArrowAltCircleLeft"></fa-icon>
                        <span>#{{ pokemon.id - 1 }}</span>
                    </a>

                    <a routerLink="/pokemon/{{ pokemon.id + 1 }}">
                        <span>#{{ pokemon.id + 1 }}</span>
                        <fa-icon [icon]="faArrowAltCircleRight"></fa-icon>
                    </a>
                </div>

                <div
                    [class.nav-disabled]="fighterIndex === 0"
                    *ngIf="isFighter"
                    id="nav-fighter"
                >
                    <a
                        [class.nav-disabled]="fighterIndex === 0"
                        routerLink="/pokemon/{{
                            fightersIdList[fighterIndex - 1]
                        }}"
                    >
                        <fa-icon [icon]="faArrowAltCircleLeft"></fa-icon>
                        <span>Previous Fighter</span>
                    </a>
                    <a
                        [class.nav-disabled]="
                            fighterIndex === fightersIdList.length - 1
                        "
                        routerLink="/pokemon/{{
                            fightersIdList[fighterIndex + 1]
                        }}"
                    >
                        <span>Next Fighter</span>
                        <fa-icon [icon]="faArrowAltCircleRight"></fa-icon>
                    </a>
                </div>
            </nav>
            <header [class.header-position]="isFighter">
                <h1>#{{ pokemon.id }} {{ pokemon.name | uppercase }}</h1>
            </header>

            <div>
                <div id="img-wrapper">
                    <img [src]="pokemon.sprites.artwork" [alt]="pokemon.name" />
                </div>

                <div class="pokemon-info">
                    <ul>
                        <li>
                            <small>National Nº</small>
                            <span>{{ pokemon.id }}</span>
                        </li>
                        <li>
                            <small>Type</small>
                            <span>
                                <span
                                    *ngFor="
                                        let type of pokemon.types;
                                        let i = index
                                    "
                                >
                                    <span *ngIf="i === 1">/</span>
                                    {{ type | titlecase }}
                                </span>
                            </span>
                        </li>
                        <li>
                            <small>Height</small>
                            <span>{{ pokemon.height }} m</span>
                        </li>
                        <li>
                            <small>Ability</small>
                            <span>
                                <span
                                    *ngFor="
                                        let ability of pokemon.abilities;
                                        let i = index
                                    "
                                >
                                    {{ ability | titlecase }}
                                    <span
                                        *ngIf="
                                            i !== pokemon.abilities.length - 1
                                        "
                                    >
                                        / <br
                                    /></span>
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>

                <div *ngIf="isFighter" class="pokemon-moves">
                    <h2>Moves:</h2>
                    <ul>
                        <li *ngFor="let move of pokemon.moves; let i = index">
                            <div>
                                <span>
                                    <h3>{{ move.name | uppercase }}</h3>
                                </span>
                                <span>
                                    <span>
                                        <small>Power</small>
                                        <span
                                            >{{ move.power }}
                                            <fa-icon
                                                *ngIf="isMoveStab[i] === true"
                                                [icon]="faAngleDoubleUp"
                                            ></fa-icon>
                                        </span>
                                    </span>
                                    <span>
                                        <small>Type</small>
                                        <span>{{ move.type | titlecase }}</span>
                                    </span>
                                </span>
                            </div>
                            <p>{{ move.text }}</p>
                        </li>
                    </ul>
                    <p>
                        <fa-icon [icon]="faAngleDoubleUp"></fa-icon>
                        <span> : Same type attack bonus</span>
                    </p>
                </div>

                <div *ngIf="!isFighter" id="not-fighter-wrapper">
                    <p>
                        {{ pokemon.name | titlecase }} is in a peaceful mood and
                        chose not to fight. <br />
                        Check the fighters <a routerLink="/">here</a>
                    </p>
                </div>

                <div id="btn-wrapper">
                    <button
                        (click)="startBattle()"
                        [disabled]="
                            !isFighter || isBattleLoading ? true : false
                        "
                    >
                        <fa-icon
                            *ngIf="isBattleLoading"
                            [icon]="faFan"
                            [spin]="true"
                        ></fa-icon>
                        <fa-icon
                            *ngIf="!isBattleLoading"
                            [icon]="faBolt"
                        ></fa-icon>
                        <span>Start Battle</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <a routerLink="/">
        <fa-icon [icon]="faArrowAltCircleLeft"></fa-icon>
    </a>
</section>
