<main>
    <section *ngFor="let section of sections">
        <h1>
            <fa-icon [icon]="section.title.icon"></fa-icon
            >{{ section.title.name }}
        </h1>
        <div class="main-loading">
            <app-loading
                *ngIf="
                    section.isLoading &&
                    !section.error &&
                    !section.buttonList.isLoading
                "
            ></app-loading>

            <app-error *ngIf="section.error"></app-error>
        </div>
        <div
            class="main-article"
            *ngIf="
                (!section.isLoading && !section.error) ||
                section.buttonList.isLoading
            "
        >
            <app-pokemon-card
                *ngFor="let pokemon of section.pokemonList"
                [pokemon]="pokemon"
            ></app-pokemon-card>
            <div
                *ngIf="
                    section.buttonList.buttons.length > 0 &&
                    !section.buttonList.isLoading
                "
            >
                <button
                    *ngFor="let button of section.buttonList.buttons"
                    (click)="button.function(section.id)"
                >
                    <fa-icon [icon]="button.icon"></fa-icon>
                    <span>{{ button.name }}</span>
                </button>
            </div>
            <app-loading *ngIf="section.buttonList.isLoading"></app-loading>
        </div>
    </section>
</main>
