section {
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
        background: #fff;
        border-radius: 8px;
        min-width: 650px;
        width: 90%;
        padding: 2rem;
        margin: 1rem;

        // BATTLE SCREEN LAYOUT
        .battle-background {
            position: relative;

            // background image
            #bg {
                width: 100%;

                background: #000;
                border: 0.3rem #000 solid;
                border-radius: 0.5rem;
            }

            // player information on screen
            #player-info {
                position: absolute;
                bottom: 15%;
                right: 15%;
            }

            // enemy information on screen
            #enemy-info {
                position: absolute;
                top: 15%;
                left: 15%;
            }

            #player-info,
            #enemy-info {
                background: #fff;
                width: 20rem;
                padding: 0.5rem 1rem;
                font-size: 1.5rem;

                border: 1px #000 solid;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
                border-radius: 8px;

                display: flex;
                flex-direction: column;

                .hp-bar {
                    height: 1rem;
                    width: 100%;
                    margin: 0.5rem 0 0.25rem;
                    border: 1px #000 solid;
                    border-radius: 5px;
                    background-color: #eeeeee;

                    div {
                        height: 100%;
                        border-radius: 5px;
                        border-right: 1px solid rgb(146, 146, 146);
                        border-left: 1px solid rgb(146, 146, 146);
                    }
                }

                small {
                    text-align: end;
                }
            }

            // player pokemon on screen
            #player-sprite {
                position: absolute;
                left: 23%;
                bottom: 16%;
                width: 13rem;
                height: 13rem;
            }

            // enemy pokemon on screen
            #enemy-sprite {
                position: absolute;
                right: 23%;
                top: 24%;
                width: 13rem;
                height: 13rem;
            }

            // player damage taken value on screen
            #player-damage-taken {
                position: absolute;
                left: 24%;
                bottom: 49%;
            }

            // enemy damage taken value on screen
            #enemy-damage-taken {
                position: absolute;
                left: 61%;
                top: 15%;
            }

            #player-damage-taken,
            #enemy-damage-taken {
                position: absolute;
                z-index: 1;
                font-size: 1.4rem;
                font-weight: bold;
                color: #fff;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black,
                    0 -1px black;

                div:first-child {
                    font-size: 1.6rem;
                    margin-bottom: 0.1rem;
                }
            }

            // media queries for sprites, info and damage value
            @media (max-width: 1010px) {
                #player-sprite,
                #enemy-sprite {
                    width: 12rem;
                    height: 12rem;
                }

                #player-info,
                #enemy-info {
                    width: 18rem;
                    font-size: 1.4rem;
                }

                #player-damage-taken {
                    position: absolute;
                    left: 23%;
                    bottom: 47%;
                }
            }

            @media (max-width: 940px) {
                #player-sprite,
                #enemy-sprite {
                    width: 11rem;
                    height: 11rem;
                }

                #player-info,
                #enemy-info {
                    width: 16rem;
                }
            }

            @media (max-width: 870px) {
                #player-sprite,
                #enemy-sprite {
                    width: 10rem;
                    height: 10rem;
                }

                #player-info,
                #enemy-info {
                    width: 14rem;
                    font-size: 1.3rem;
                }

                #enemy-damage-taken {
                    position: absolute;
                    left: 61%;
                    top: 13%;
                }

                #player-damage-taken,
                #enemy-damage-taken {
                    font-size: 1.2rem;

                    div:first-child {
                        font-size: 1.4rem;
                    }
                }
            }

            #modal-winner {
                position: absolute;
                top: calc(50% - 12rem);
                left: calc(50% - 12rem);

                height: 24rem;
                width: 24rem;
            }

            #modal-loser {
                position: absolute;
                top: calc(50% - 10rem);
                left: calc(50% - 12rem);

                height: 20rem;
                width: 24rem;

                > div {
                    > div {
                        display: flex;
                        flex-direction: column;

                        a {
                            margin-top: 0.7rem;
                        }
                    }
                }
            }

            // modal
            .modal {
                visibility: hidden;
                opacity: 0;
                z-index: 2;
                background: white;
                padding: 1rem;
                border: 0.3rem #000 solid;
                border-radius: 8px;

                > div {
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;

                    strong {
                        font-size: 2.6rem;
                    }

                    > div {
                        #modal-trophy {
                            width: 9rem;
                            height: 9rem;
                        }
                    }

                    a {
                        color: #ff0000;
                        text-decoration: none;
                        padding: 0.25rem;
                        font-size: 1.3rem;
                        border-radius: 8px;

                        &:hover {
                            transform: translateY(-2px);
                            background-color: rgba(255, 0, 0, 0.1);
                        }

                        span {
                            padding: 0.5rem;
                        }
                    }
                }
            }

            // attack animation
            .sprite-attack {
                animation: attack 1s 2 alternate;
            }

            @keyframes attack {
                0% {
                    transform: translateY(0) scale(1);
                }
                100% {
                    transform: translateY(-1rem) scale(1.1);
                }
            }

            // hide
            .hidden {
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s 2s, opacity 2s linear;
            }

            // show
            .visible {
                visibility: visible;
                opacity: 1;
                transition: opacity 2s linear;
            }

            .darken {
                filter: brightness(70%);
                transition: filter 2s;
            }
        }

        // BATTLE BOTTOM MENU
        .battle-menu {
            border: 0.5rem #000 double;
            border-radius: 0.5rem;
            height: 8rem;
            font-size: 1.8rem;

            @media (max-width: 870px) {
                font-size: 1.6rem;
            }

            // informative text
            .battle-info {
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            // battle buttons
            .battle-options {
                display: flex;
                height: 100%;

                // battle button section
                .battle-left-options,
                .battle-right-options {
                    flex: 2;
                    position: relative;

                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-evenly;

                    button {
                        cursor: pointer;
                        font-size: 1.8rem;
                        width: 35%;
                        background: none;
                        border: none;
                        text-align: start;
                        outline-color: #ff0000;

                        @media (max-width: 870px) {
                            font-size: 1.6rem;
                        }

                        &:hover {
                            transform: translateY(-1px);
                        }
                    }
                }

                .battle-left-options {
                    flex: 3;

                    &::after {
                        position: absolute;
                        content: "";
                        height: 90%;
                        width: 0.2rem;
                        left: 100%;
                        top: 5%;
                        background-color: #000;
                    }
                }
            }
        }
    }
}
