<section>
    <div>
        <div class="battle-background">
            <img id="bg" src="assets/images/battle-background.jpeg" alt="bg" />
            <img
                id="player-sprite"
                [src]="playerPokemon.sprites.back_default"
                [alt]="playerPokemon.name"
            />
            <div id="player-info">
                <strong>{{ playerPokemon.name }}</strong>
                <div>
                    <div class="hp-bar">
                        <div></div>
                    </div>
                </div>
                <small>
                    {{ getStatPower(playerPokemon, "current hp") }}/{{
                        getStatPower(playerPokemon, "hp")
                    }}
                </small>
            </div>
            <img
                id="enemy-sprite"
                [src]="enemyPokemon.sprites.front_default"
                [alt]="enemyPokemon.name"
            />
            <div id="enemy-info">
                <strong>{{ enemyPokemon.name }}</strong>
                <div>
                    <div class="hp-bar">
                        <div></div>
                    </div>
                </div>
                <small>
                    {{ getStatPower(enemyPokemon, "current hp") }}/{{
                        getStatPower(enemyPokemon, "hp")
                    }}</small
                >
            </div>
        </div>
        <div class="battle-menu">
            <div *ngIf="battlePhase === 3" class="battle-info">
                <span>
                    {{
                        getBattleInfoText(
                            this.battleInfo,
                            this.playerPokemon.name
                        )
                    }}
                </span>
            </div>
            <div *ngIf="battlePhase !== 3" class="battle-options">
                <div class="battle-left-options">
                    <span *ngIf="battlePhase === 1">{{
                        getBattleInfoText(
                            this.battleInfo,
                            this.playerPokemon.name
                        )
                    }}</span>
                    <ng-container *ngIf="battlePhase === 2">
                        <button
                            (click)="handleMoveSelect(move)"
                            *ngFor="let move of playerPokemon.moves"
                        >
                            {{ move.name }}
                        </button>
                    </ng-container>
                </div>
                <div class="battle-right-options">
                    <button
                        (click)="handleOptionSelect(option.id)"
                        *ngFor="let option of battleOptions"
                    >
                        {{ option.name }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
