<section>
    <div>
        <!-- BATTLE SCREEN -->
        <div class="battle-background">
            <img
                id="bg"
                src="assets/images/battle-background.jpeg"
                [class.darken]="battlePhase === 4"
                alt="bg"
                draggable="false"
            />
            <!-- PLAYER INFO (SPRITE, INFO, DAMAGE TAKEN) -->
            <img
                id="player-sprite"
                [class.hidden]="
                    !playerPokemon.status.isAlive || battlePhase === 4
                "
                [class.sprite-attack]="playerPokemon.status.startAttack"
                [src]="
                    playerTrophyAmount !== 6
                        ? playerPokemon.sprites.back_default
                        : playerPokemon.sprites.back_shiny
                "
                [alt]="playerPokemon.name"
            />
            <div
                id="player-info"
                [class.hidden]="battlePhase === 4"
                [class.damaged]="enemyPokemon.status.startAttack"
            >
                <strong>{{ playerPokemon.name }}</strong>
                <div>
                    <div class="hp-bar">
                        <div
                            [style.width]="
                                playerPokemon.status.currentHpPercentage + '%'
                            "
                            [style.background-color]="
                                playerPokemon.status.currentHpColor
                            "
                        ></div>
                    </div>
                </div>
                <small>
                    {{ playerPokemon.status.currentHp }} /
                    {{ playerPokemon.stats.hp }}
                </small>
            </div>
            <div
                *ngIf="enemyPokemon.status.startAttack"
                id="player-damage-taken"
            >
                <div>-{{ enemyPokemon.status.damageDealt }} HP</div>
                <div>{{ enemyPokemon.status.currentAttackEffectiveness }}</div>
            </div>
            <!-- ENEMY INFO (SPRITE, INFO, DAMAGE TAKEN) -->
            <img
                id="enemy-sprite"
                [class.hidden]="
                    !enemyPokemon.status.isAlive || battlePhase === 4
                "
                [class.sprite-attack]="enemyPokemon.status.startAttack"
                [src]="
                    enemyTrophyAmount !== 6
                        ? enemyPokemon.sprites.front_default
                        : enemyPokemon.sprites.front_shiny
                "
                [alt]="enemyPokemon.name"
            />
            <div
                id="enemy-info"
                [class.hidden]="battlePhase === 4"
                [class.damaged]="playerPokemon.status.startAttack"
            >
                <strong>{{ enemyPokemon.name }}</strong>
                <div>
                    <div class="hp-bar">
                        <div
                            [style.width]="
                                enemyPokemon.status.currentHpPercentage + '%'
                            "
                            [style.background]="
                                enemyPokemon.status.currentHpColor
                            "
                        ></div>
                    </div>
                </div>
                <small>
                    {{ enemyPokemon.status.currentHp }} /
                    {{ enemyPokemon.stats.hp }}
                </small>
            </div>
            <div
                *ngIf="playerPokemon.status.startAttack"
                id="enemy-damage-taken"
            >
                <div>-{{ playerPokemon.status.damageDealt }} HP</div>
                <div>{{ playerPokemon.status.currentAttackEffectiveness }}</div>
            </div>
            <!-- WIN/LOSE MODALS -->
            <div
                *ngIf="!playerPokemon.status.isAlive"
                id="modal-loser"
                class="modal"
                [class.visible]="battlePhase === 4"
            >
                <div>
                    <strong>YOU LOST!</strong>
                    <div>
                        <a routerLink="/pokemon/{{ playerPokemon.id }}">
                            <span>Try again</span>
                        </a>
                        <a routerLink="/"><span>Change fighter</span></a>
                    </div>
                </div>
            </div>
            <div
                *ngIf="!enemyPokemon.status.isAlive"
                id="modal-winner"
                class="modal"
                [class.visible]="battlePhase === 4"
            >
                <div>
                    <strong>YOU WON!</strong>
                    <div *ngIf="playerTrophyAmount !== 5">
                        <img
                            id="modal-trophy"
                            src="assets/images/trophy.png"
                            alt="trophy"
                        />
                    </div>
                    <div id="unlocked-shiny" *ngIf="playerTrophyAmount === 5">
                        <img [src]="playerPokemon.sprites.front_shiny" alt="" />
                        <div>Unlocked Shiny {{ playerPokemon.name }}!</div>
                    </div>

                    <a routerLink="/pokemon/{{ playerPokemon.id }}">
                        <span>Fight again!</span>
                    </a>
                    <a routerLink="/"><span>Change fighter</span></a>
                </div>
            </div>
        </div>
        <!-- BATTLE MENU -->
        <div class="battle-menu">
            <div
                *ngIf="battlePhase === 3 || battlePhase === 4"
                class="battle-info"
            >
                <span>
                    {{ battleInfoText }}
                </span>
            </div>
            <div
                *ngIf="battlePhase === 1 || battlePhase === 2"
                class="battle-options"
            >
                <div class="battle-left-options">
                    <span *ngIf="battlePhase === 1">
                        {{ battleInfoText }}
                    </span>
                    <ng-container *ngIf="battlePhase === 2">
                        <button
                            (click)="handleMoveSelect(move)"
                            *ngFor="let move of playerPokemon.moves"
                        >
                            {{ move.name }}
                        </button>
                    </ng-container>
                </div>
                <div class="battle-right-options">
                    <button
                        (click)="handleOptionSelect(option.id)"
                        *ngFor="let option of battleOptions"
                    >
                        {{ option.name }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
